@use "../base/colours";
@use "../base/breakpoints";
@use "../base/typography";
@import "../../node_modules/rfs/scss.scss";

.button {
    @include typography.uppercase();
    background: colours.$red;
    border: none;
    box-shadow: 0 0 20px rgba(colours.$red, 0.25);
    color: colours.$lightgrey;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    margin: 0.4rem 0.4rem 0.4rem 0;
    padding: 0.6rem 1rem;
    transition: all 0.05s;

    @include breakpoints.laptop {
        @include font-size(18px);
        margin: 1rem 0.6rem 1rem 0;
        padding: 0.8rem 1.4rem;
    }

    //Used for call-to-action buttons, e.g. for hero sections
    &.button_large {
        font-size: 18px;
        margin: 1rem 0 0.4rem 0;
        padding: 1rem;

        @include breakpoints.laptop {
            @include font-size(20px);
            margin: 2rem 0 1rem 0;
            padding: 1.4rem 6rem;
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover:enabled {
        background: #C64545;
        box-shadow: 0 0 30px rgba(#C64545, 0.25);
        color: #FFFFFF;
    }

    &:active:enabled {
        background: #871818;
        box-shadow: 0 0 10px rgba(#871818, 0.25);
        color: colours.$lightgrey;
    }

    &.button_secondary {
        background: colours.$greengrey;
        border: none;
        box-shadow: 0 0 20px rgba(colours.$greengrey, 0.25);
        color: colours.$navy;

        &:hover:enabled {
            background: #D3D0C6;
            box-shadow: 0 0 30px rgba(#D3D0C6, 0.25);
            color: colours.$navy;
        }
    
        &:active:enabled {
            background: #AFA68E;
            box-shadow: 0 0 10px rgba(#AFA68E, 0.25);
        }
    }

    &.button_dark {
        background: colours.$navy;
        border: none;
        box-shadow: 0 0 20px rgba(colours.$navy, 0.25);

        &:hover:enabled {
            background: #443E47;
            box-shadow: 0 0 30px rgba(#443E47, 0.25);
            color: #FFFFFF;
        }
    
        &:active:enabled {
            background: #19171B;
            box-shadow: 0 0 10px rgba(#19171B, 0.25);
            color: colours.$lightgrey;
        }
    }
}