@use "../base/colours";
@use "../base/breakpoints";
@use "../base/typography";

.header {
    font-family: "Poppins", Arial, sans-serif;
    padding: 1rem;
    width: 100%;

    @include breakpoints.laptop {
        padding: 2rem 1rem 1rem 1rem;
    }

    @include breakpoints.desktop {
        padding: 3rem 1rem 1rem 1rem;
    }

    &_logo {
        grid-column: 1 / 3;

        @include breakpoints.laptop {
            grid-column: 1 / 4;
        }

        @include breakpoints.desktop {
            grid-column: 1 / 4;
        }
    }

    &_navigation {
        grid-column: 3 / 5;

        @include breakpoints.laptop {
            grid-column: 4 / 9;
        }

        @include breakpoints.desktop {
            grid-column: 4 / 11;
        }

        @include breakpoints.desktop-4k {
            grid-column: 6 / 11;
        }

        & ul {
            display: none;
            margin: 0;

            @include breakpoints.laptop {
                display: block;
            }
        
            & li {
                @include typography.uppercase;
                display: inline;
                margin: 0 3rem 0 0;
                text-decoration: none;
            }
        }
    }

    &_cart {
        grid-column: 12 / 13;
        position: relative;

        svg {
            position: inherit;
            top: -20%;
        }
    }
}