@use "../base/breakpoints";
@use "../base/colours";
@import "../../node_modules/rfs/scss.scss";

.hero {
    min-height: 700px;
    width: 100%;

    &_description {
        grid-column: 1 / 5;

        h1 {
            @include font-size(72px);
        }

        p {
            @include font-size(24px);
            color: colours.$redgrey;
            line-height: 2;
            margin: rfs-fluid-value(-2rem) 0 0 0;
        }

        @include breakpoints.laptop {
            grid-column: 1 / 9;
        }
    }
}