@use "../base/colours";
@use "../base/breakpoints";
@use "../base/typography";
@import "../../node_modules/rfs/scss.scss";

.notification_badge {
    background: colours.$yellow;
    border-radius: 50px;
    color: colours.$navy;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    left: 70%;
    min-width: 2rem;
    padding: 0.4rem;
    position: absolute;
    text-align: center;
    top: -60%;
    z-index: 5;

    @include breakpoints.laptop {
        @include font-size(16px);
        left: 35%;
        min-width: 2.4rem;
        top: -80%;
    }
}