@use "../base/breakpoints";

.productlist_staggered {
    width: 100%;

    & .product {
        grid-column: 1 / 5;
    }

    & .product:nth-child(odd) {
        @include breakpoints.laptop {
            grid-column: 1 / 7;
        }
    }

    & .product:nth-child(even) {
        @include breakpoints.laptop {
            grid-column: 7 / 13;
            transform: translate(0, 50%);
        }
    }
}