@use "../base/breakpoints";

.productlist {
    grid-column: 1 / 5;
    width: 100%;

    @include breakpoints.laptop {
        grid-column: 4 / 13;
    }

    & .product {
        grid-column: 1 / 5;
        width: 100%;

        @include breakpoints.laptop {
            grid-column: span 4;
        }

        img {
            width: 100%;
        }
    }
}

.productlist_staggered {
    width: 100%;

    & .product {
        grid-column: 1 / 5;
    }

    & .product:nth-child(odd) {
        @include breakpoints.laptop {
            grid-column: 1 / 7;
        }
    }

    & .product:nth-child(even) {
        @include breakpoints.laptop {
            grid-column: 7 / 13;
            transform: translate(0, 50%);
        }
    }
}