//Dominant red for most primary call-to-actions.
$red: #AE2D2D;
//Accent colour
$yellow: #DEC688;
//Background colour
$navy: #2F2A32;
//Primarily used for heading text
$lightgrey: #E3DDDD;
//Primarily used for subheading text
$redgrey: #C2ABAB;
//Used as background for Peaches of Immortality Baijiu
$purple: #504357;
//A $grey variant used for subheadings, e.g. for the Peaches of Immortality Baijiu
$grey: #B9B8B7;
//A $grey variant used to make secondary button backgrounds WCAG AA-compliant
$greengrey: #BEB7A6;
//A $lightgrey variant; used to make that colour of text WCAG AA-compliant against $yellow background
$darkgrey: #626160;