//TT Ramillas
@font-face {
    font-family: "TTRamillas-Regular"; 
    src: url("../../public/fonts/TTRamillas-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "TTRamillas-Italic"; 
    src: url("../../public/fonts/TTRamillas-Italic.otf") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "TTRamillas-Bold"; 
    src: url("../../public/fonts/TTRamillas-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "TTRamillas-BoldItalic"; 
    src: url("../../public/fonts/TTRamillas-BoldItalic.otf") format("opentype");
    font-style: italic;
    font-weight: 700;
}

//Unna - alternative body font from Google Fonts
@font-face {
    font-family: "Unna-Regular"; 
    src: url("../../public/fonts/Unna-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Unna-Italic"; 
    src: url("../../public/fonts/Unna-Italic.otf") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Unna-Bold"; 
    src: url("../../public/fonts/Unna-Bold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Unna-BoldItalic"; 
    src: url("../../public/fonts/Unna-BoldItalic.otf") format("opentype");
    font-style: italic;
    font-weight: 700;
}