@use "base/colours";
@use "base/breakpoints";
@use "base/typography";

html,
body {
    background: colours.$navy;
    color: colours.$lightgrey;
	margin: 0;
}

html {
	box-sizing: border-box;
    font-family: "TTRamillas-Regular", "Unna-Regular", Garamond, Georgia, serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
